*{
    margin: 0px;
}
body {
  background-color: rgb(92, 95, 95);
  display: flexbox;
  justify-content: center;
}
.box {
  display: flexbox;
  text-align: center;
  background-color: rgb(31, 31, 29);
  color: white;
  width: 60%;
  height: 50%;
  margin: 10% 23%;
  padding: 30px 40px;
  /* padding: 30px 40px 30px; */
  border-radius: 5px;
  font-family: "Bungee", cursive;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.box1 {
  display: flexbox;
  text-align: center;
  background-color: rgb(31, 31, 29);
  color: white;
  width: 60%;
  height: 50%;
  margin: 10% 23%;
  padding: 30px 40px;
  /* padding: 30px 40px 30px; */
  border-radius: 5px;
  font-family: "Bungee", cursive;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.btn {
  border: 1px solid white;
  color: white;
  text-decoration: none;
  margin: 0px 10px;
  margin-bottom: 15px;
}
.content {
  display: flexbox;
  justify-content: center;
  padding: 60px;
}
.container {
  display: flex;
}
.content1{
    display: inline;
}
h5 {
  font-size: small;
}
.c {
  margin-left: 2px;
}
.head {
  font-family: "Bungee", cursive;
  text-decoration: none;
  margin-left: 600px;
  color: white;
  font-size: 20px;
}
