<div class="box">
<h2>Views : {{counter}}</h2>
<table class="table table-dark table-hover table-bordered">
    <tr>
    <th class="table-dark">IP ADDRESS</th>
    <th class="table-dark">TIMESTAMPS</th>
    </tr>
{{#each list}}
<tr>
    <td>{{ip}}</td>
    <td>{{createdAt}}</td>
</tr>
{{/each}}
</table>
<a href="/login"><button type="submit" class="btn btn-primary">Signout</button></a>
</div>